* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

form {
    margin-top: 40px;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 2px;
    width: 100%;
    resize: none;
}

button {
    background-color: rgb(45, 192, 45);
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.success-message {
    background-color: rgb(45, 192, 45);
    margin-top: 25px;
    padding: 14px;
    width: 100%;
    color: white;
    display: none;
}

.error-message {
    background-color: red;
    padding: 12px;
    color: white;
    margin-bottom: 8px;
    display: none;
}
